@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "create CATEGORY";
    //var url = "~/images/1_W35QUSvGpcLuxPo3SRTH4w.png";
}
 <br />
<div class=" title-section ">
    <h2 class="title">nouvelle catégorie</h2>
</div>

<div class="container">
    <form method="post">
        <div class="row">
            <div class="col-8">
                <div class=" contact-name clearfix">
                    <label> Nom </label>
                    <input name="nom" type="text" />
                </div>

                <br />
                <div class=" contact-name clearfix">
                    <label> Description </label>
                    <input name="description" type="text" />
                </div>
                <br />
                <div class=" contact-name clearfix">
                    <label> Selectionner une image </label>
                    <input id="ImageUrl" name="ImageUrl" type="hidden" />
                    <input id="imageUpload" name="image" class="form-control btn-default" accept=".png , .jpg" type="file" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumb">
                    <img class="img-thumbnail img-fluid" src="~/images/1_W35QUSvGpcLuxPo3SRTH4w.png" id="imgUp" />
                </div>
            </div>
        </div>

        <center><button type="submit" class="col-2 btn btn-outline-warning"> enregistrer</button> &nbsp;&nbsp;<button id="annuler" type="button" class="col-1 btn btn-outline-danger">annuler </button></center>
        <br />
    </form>   
</div>

<script>
    $("#imageUpload").change(function () {
        debugger;
        var element = this;
        var formData = new FormData();
        var totalFiles = element.files.length;
        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }

        $.ajax({
            type: 'POST',
            url: '/Shared/UploadImage',
            dataType: 'json',
            data: formData,
            contentType: false,
            processData: false
        }).done(function (response) {
            debugger
            console.log(response);
            if (response.Success) {
                $("#ImageUrl").val(response.ImageUrl);
                $("#imgUp").attr("src", response.ImageUrl);
            }
            //$("#newContainer").html(response);
            //$("#containerAdd").html("");
        }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert('FAIL');
        });
    });
    $("#annuler").click(function () {
        var searchValue = '';
        $.ajax({
            type: 'POST',
            url: '/Produit/ListProduit',
            data: {
                search: searchValue
            }
        }).done(function (response) {
            $("#responseTab").html(response);
        }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert('FAIL');
        });
    });
</script>