@model List<ecommerceApp.Entities.Categorie>
@{
    ViewBag.Title = "Index";
}

<div id="newContainer" >
    @*@{Html.RenderAction("Create");}*@
</div>

<div id="responseTab" >
    @{Html.RenderAction("ListCategories");}
</div>



